annotated-types==0.7.0
anyio==4.4.0
assemblyai==0.26.0
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==4.4.2
exceptiongroup==1.2.1
filelock==3.14.0
Flask==3.0.3
fsspec==2024.5.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
intel-openmp==2021.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
llvmlite
gunicorn
MarkupSafe==2.1.5
mkl==2021.4.0
more-itertools==10.2.0
moviepy==1.0.3
mpmath==1.3.0
networkx
numba
numpy
openai-whisper
pillow
proglog
pydantic
pydantic_core
regex
requests
six
sniffio
sympy
tbb
tiktoken
torch
tqdm
typing_extensions
urllib3
websockets
Werkzeug=
